@import "tailwindcss";


body {
  
  background-color: #0a0f1c;
  background-image: radial-gradient(
      circle at center,
      rgba(34, 211, 238, 0.25) 0%,
      rgba(59, 130, 246, 0.1) 40%,
      rgba(0, 0, 0, 0.9) 100%
  );
  min-height: 100vh;
}


